*~
*.log
*.log.[0-9]

__pycache__

/cache
/.idea
/output
/venv
/.venv
/build

/.coverage
dist/
/tests/yaml_output

# PDM specific
/.pdm-build
/.pdm-python
/.python-version
.testmondata

# MKdocs
/docs_html
