*~
*.log
*.log.[0-9]

__pycache__

/cache
/.idea
/output
/venv
/.venv
/build

# Documentation
# The API documentation is generated on-demand to
# always show the up-to-date API.
/docs/api

/.coverage
dist/
/tests/yaml_output

# PDM specific
/.pdm-build
/.pdm-python
/.python-version
.testmondata

# MKdocs
/docs_html
